html {
    width: 100%;
}

body {
    margin-top: 100px;
    background-color: greenyellow;
    text-align: center;
}

#inputBox {
    margin-top: 80px;
    width: 300px;
    height: 40px;
}

#outputBox {
    margin-top: 80px;
}

#buton {
    margin-top: 80px;
    border-radius: 15px;
}